[Desktop Entry]
Name=Notepad++
GenericName=Text Editor
Comment=A free source code editor and Notepad replacement
Exec=notepadplusplus.sh %F
Icon=com.notepadplusplus.NotepadPlusPlus
Type=Application
Categories=TextEditor;Utility;
MimeType=text/plain;text/x-c;text/x-c++;text/x-python;text/x-java;text/x-shellscript;text/html;text/css;text/javascript;
StartupNotify=true
StartupWMClass=notepad++.exe
Keywords=text;editor;notepad;source;code;
